<input type="checkbox" id="check">
<nav class="sidebar">
  <label for="check">
    <i class="fas fa-bars" id="sidebar_btn"></i>
  </label>
  <div class="clear"></div>
  <div class="clear"></div>
  <div class="profile_info">
    <!-- <img src="kule.jpeg" class="profile_image" alt="">
    --><h4>Emre Karacabay</h4>
  </div>

  <a href="#"><i class="fas fa-home"></i><span>Anasayfa</span></a>
  <a href="#"><i class="fas fa-camera-retro"></i><span>Fotoğraflarım</span></a>
  <a href="#"><i class="far fa-images"></i><span>Kategoriler</span></a>
  <a href="#"><i class="fas fa-file-signature"></i><span>İletişim</span></a>
  <form action="">
    <input type="text" placeholder="Ara.." class="web">
    <button type="button" class="web-ara">
      <i class="fas fa-search"></i>
    </button>
  </form>

</nav>