  <input type="checkbox" id="mcheck">


  <!--mobile navigation bar start-->
  <nav class="mobile_nav">

    <label for="mcheck" class="nav_bar">
      <i class="fa fa-bars nav_btn"></i>
    </label>

    <div class="mobile_nav_items">
      <a href="#"><i class="fas fa-home"></i><span>Anasayfa</span></a>
      <a href="#"><i class="fas fa-camera-retro"></i><span>Fotoğraflarım</span></a>
      <a href="#"><i class="far fa-images"></i><span>Kategoriler</span></a>
      <a href="#"><i class="fas fa-file-signature"></i><span>İletişim</span></a>
      <div class="mform">
        <form action="">
          <input type="text" placeholder="Ara.." class="mobile">
          <button type="button" class="mobile-ara">
            <i class="fas fa-search"></i>
          </button>
        </form>
      </div>
      <a href="https://www.instagram.com/emrekaracabay/" class="insta2_btn">
        <i class="fab fa-instagram-square"></i>
      </a>
    </div>
  </nav>
  <!--mobile navigation bar end-->
